{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% progressive_web_app_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo/logo.png' %}" type="image/gif" sizes="16x16">
    <script src="{% static 'jsMain/jquery.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cssMain/semantic.min.css' %}">
    <script src="{% static 'jsMain/semantic.min.js' %}"></script>
    <script src="{% static 'sw/app.js' %}"></script>
</head>
<body>

<div class="ui vertically divided grid" style="text-align: center">


    <div class="one column row">


        <div class="column">


            <p style="text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    padding-top: 10px;
    padding-bottom: 0px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    margin-bottom: 0;"
            >A Billing Software<span style="font-size: 12px">  (V 2.0.1) </span></p>
            <img src="{% static 'logo/nextbill.png' %}" alt="" width="80" height="80">

            <p style="color:grey;font-family: serif;font-style: italic;">"By Ziva Infotech"</p>
        </div>

    </div>
    <div class="five column row">

        <div class="column">
            <a href="{% url 'homeApp:sales' %}">
                <p><i class="money check icon" style="font-size: 5rem;"></i><br>SALES </p>
            </a>
        </div>
        <div class="column">
            <a href="{% url 'homeApp:bookingList' %}">
                <p><i class="box icon" style="font-size: 5rem;"></i><br>Bookings </p>
            </a>
        </div>

        <div class="column">
            <a href="{% url 'homeApp:salesReport' %}">
                <p><i class="chart line icon" style="font-size: 5rem;"></i><br>SALES REPORT </p>
            </a>
        </div>

        <div class="column">
            <a href="{% url 'homeApp:hsn' %}">
                <p><i class="shopping bag icon" style="font-size: 5rem;"></i><br>HSN </p>
            </a>
        </div>


        <div class="column">
            <a href="{% url 'homeApp:product' %}">
                <p><i class="shopping basket icon" style="font-size: 5rem;"></i><br>PRODUCTS </p>
            </a>
        </div>


    </div>
    {% if  request.user|has_group:"Admin" %}
        <div class="six column row">
            <div class="column">
                <a href="{% url 'homeApp:dashboard' %}">
                    <p><i class="clipboard icon" style="font-size: 5rem;"></i><br>DASHBOARD </p>
                </a>
            </div>
            <div class="column">
                <a href="{% url 'homeApp:puchase' %}">
                    <p><i class="cart plus icon" style="font-size: 5rem;"></i><br>PURCHASE </p>
                </a>
            </div>

            <div class="column">
                <a href="{% url 'homeApp:purchaseReport' %}">
                    <p><i class="chart bar icon" style="font-size: 5rem;"></i><br>PURCHASE REPORT </p>
                </a>
            </div>
            <div class="column">
                <a href="{% url 'homeApp:report' %}">
                    <p><i class="edit icon" style="font-size: 5rem;"></i><br>TAX REPORT </p>
                </a>
            </div>

            <div class="column">
                <a href="{% url 'homeApp:manage_invoice' %}">
                    <p><i class="receipt icon" style="font-size: 5rem;"></i><br>MANAGE INVOICE</p>
                </a>
            </div>
            <div class="column">
                <a href="{% url 'homeApp:settings' %}">
                    <p><i class="settings icon" style="font-size: 5rem;"></i><br>SETTINGS </p>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="four column row">
        <div class="column">
            <a href="{% url 'homeApp:contact' %}">
                <p><i class="address book icon" style="font-size: 5rem;"></i><br>CONTACTS </p>
            </a>
        </div>

        <div class="column">
            <a href="{% url 'homeApp:expense' %}">
                <p><i class="funnel dollar icon" style="font-size: 5rem;"></i><br>EXPENSES </p>
            </a>
        </div>


        <div class="column">
            <a href="{% url 'homeApp:generalSetting' %}">
                <p><i class="cog icon" style="font-size: 5rem;"></i><br>GENERAL SETTINGS </p>
            </a>
        </div>
        <div class="column">
            <a href="{% url 'homeApp:logout' %}">
                <p><i class="share square icon" style="font-size: 5rem;"></i><br>LOGOUT </p>
            </a>
        </div>

    </div>


</div>
<div class="ui error message" style="height: 60px;width: 50%;margin: 0 auto;">
    <i class="close icon"></i>
    <div class="header">
        NEXTBILL Reminder!
    </div>
    {{ message }}
</div>
<script>
    $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>
</body>
</html>