{% extends 'home/index.html' %}
{% load static %}
{% block title %}
    <title>Error</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block body %}

     <div class="row" style="padding-left: 50px; padding-right: 50px">
            <div class="ui placeholder segment">
                <div class="ui icon header">
                    <i class="bug icon red"></i>
                    Something went wrong. Please contact the <strong class="text-info" style="color: #888888">ZIVA INFOTECH</strong> for further details.
                </div>
                <div class="ui divider"></div>
                <div class="ui center aligned segment">
                                    <a href="{% url 'homeApp:homepage' %}" class="ui primary button">Back To Home</a>

                </div>

            </div>

        </div>

{% endblock %}